[user]
	email = sean@chittenden.org
	name = Sean Chittenden
	useconfigonly = true
	signingkey = 6C2E5E16
[alias]
	ci = commit
	di = diff
	incoming = '!git remote update -p; git log ..@{u}'
	outgoing = log origin/master..
	st = status
	stat = status
	staged = diff --cached
[color]
	ui = auto
[commit]
	gpgSign = true
[diff]
	algorithm = histogram
[gc]
	auto = 1
[gpg]
	program = /usr/local/bin/gpg
[mergetool]
	keepBackup = true
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = https://github.com/
